---
export interface WorkItem {
  company: string;
  link: string;
  badges: readonly string[];
  title: string;
  start: string;
  end?: string;
  skills: readonly string[];
  description: string;
}

export interface Props {
  job: WorkItem;
}
const { job } = Astro.props;
---

<article class="">
  <header class="mb-2">
    <div class="flex items-center justify-between gap-x-2 text-base">
      <h3 class="inline-flex items-center gap-x-1 font-semibold leading-none">
        <a
          href={job.link}
          target="_blank"
          rel="noopener noreferrer"
          class="hover:underline"
        >
          {job.company}
        </a>
        <span class="inline-flex gap-x-1">
          {
            job.badges.map((b) => (
              <span class="rounded-md bg-gray-200 px-2 py-0.5 text-xs font-medium">
                {b}
              </span>
            ))
          }
        </span>
      </h3>
      <time class="text-xs tabular-nums text-gray-500">
        {job.start} – {job.end ?? "Present"}
      </time>
    </div>
    <h4 class="mt-1 text-sm leading-none">{job.title}</h4>
  </header>

  <p class="text-sm leading-relaxed text-gray-500">{job.description}</p>

  <div class="mt-2 flex flex-wrap gap-1">
    {
      job.skills.map((skill) => (
        <span class="rounded bg-gray-100 px-2 py-0.5 text-[10px] font-medium">
          {skill}
        </span>
      ))
    }
  </div>
</article>
