---
interface Props {
  title: string;
  description: string;
  image?: string;
  type?: string;
  date?: Date;
}

const { title, description, image, type, date } = Astro.props;
const { pathname } = Astro.url;
---

<head>
  <meta charset="UTF-8" />
  <meta name="description" content={description} />
  <meta name="author" content="Elijah Lewis" />
  <meta name="viewport" content="width=device-width" />
  <meta name="robots" content="index, follow" />
  {
    type === "article" && date ? (
      <meta property="article:published_time" content={date.toISOString()} />
    ) : null
  }
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:url" content={`https://elijahlewis.dev${pathname}`} />
  <meta
    property="og:image"
    content={`https://elijahlewis.dev${image ?? "/images/elijahlewis.jpg"}`}
  />
  <meta property="og:type" content={type ?? "website"} />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content={title} />
  <meta name="twitter:description" content={description} />
  <meta
    name="twitter:image"
    content={`https://elijahlewis.dev${image ?? "/images/elijahlewis.jpg"}`}
  />
  <link rel="canonical" href={`https://elijahlewis.dev${pathname}`} />
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />

  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
</head>
